/*----------  Brand Colors  ----------*/
$brand-dark-blue: #0F385D;
$brand-neutral: #fbf7ec;
$brand-green: #4AFD5C;
$brand-blue: #00A1FB;
$brand-orange: #FA5333;
$brand-grey: #becbd2;
$brand-seagreen: #1BBC9B;

$base-ui-color: #1d68a3;
// $secondary-ui-color: rgba(70,171,164,1); //seagreen
$secondary-ui-color: #3597a6; //seagreen
$tertiary-ui-color: rgba(110,181,209,1); //skyblue
$dark-ui-color: rgba(52,60,70,1);
$highlight-dark-ui-color: rgba(49,49,59,1);
$highlight-dark-ui-border: rgba(56,55,61,1);
$highlight-ui-color:rgba(235,115,84,1); //action orange
$black: #000;
$white: #fff;
// Colors
$dark-gray: #282828;
$medium-gray: rgba(152,152,152,1);
$light-gray: rgba(238,238,238,1);

// Borders
$img-radius: 10px;