html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mobile-only {
	@include media( $medium-screen-up ) {
		display: none;
	}
}

.desktop-only {
	display: none;
	@include media( $medium-screen-up ) {
		display: inline-block;
	}
}