ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

.inline-list {
	list-style-type: none;

	li{
		display: inline-block;
	}

	&.deliminated{
		li {
			padding: 0 0px 0 15px;
			&:after {
				margin-left: 15px;
				content: " + ";
				display: inline-block;
			}

			&:last-of-type {
				&:after {
					content: "";
				}
			}
		}
	}
}
