.jazz-img {
	position: relative;
	// clear: both;
	// margin: 0 auto;
	// padding: 1em 0 4em;
	// max-width: 1000px;
	list-style: none;
	text-align: center;
	border-radius: $img-radius;
}

/* Common style */
.jazz-img figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 250px;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	border-radius: $img-radius;
}

.jazz-img figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	border-radius: $img-radius;
}

.jazz-img figure figcaption {
	padding: 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: $img-radius;

	@include media( $xlarge-screen-up ) {
		padding: 2em;
	}
}

.jazz-img figure figcaption::before,
.jazz-img figure figcaption::after {
	pointer-events: none;
}

.jazz-img figure figcaption,
.jazz-img figure figcaption > a {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: $img-radius;

	// @include media( $xlarge-screen-up ) {
	// 	top: 25px;
	// }
}

/* Anchor will cover the whole item by default */
.jazz-img figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.jazz-img figure h2 {
	color: $white;
	word-spacing: -0.15em;
	font-weight: 300;
}

.jazz-img figure h2 span {
	font-weight: 800;
}

.jazz-img figure h2,
.jazz-img figure p {
	margin: 0;
}

.jazz-img figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.effect-jazz {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	border-radius: $img-radius;
	margin-bottom: 25px;
}

.entertianer-img {
	figure.effect-jazz {
		max-height: 250px;
	}
}

figure.effect-jazz img {
	opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	border-radius: $img-radius;
}

figure.effect-jazz figcaption::after {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	border-radius: $img-radius;
}

figure.effect-jazz h2,
figure.effect-jazz p {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	border-radius: $img-radius;
}

figure.effect-jazz h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	border-radius: $img-radius;
}

figure.effect-jazz p {
	padding: 0.5em 1em;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 700;
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	opacity: 0;
}

figure.effect-jazz:hover img {
	opacity: 0.3;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
	border-radius: $img-radius;
}

figure.effect-jazz:hover figcaption::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	border-radius: $img-radius;
}

figure.effect-jazz:hover h2,
figure.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}


.jazz-img__caption {
	text-align:left;
}