.page-header {

	.entry-header {
		padding: 0px 0;
		text-align: center;
		font-size: 1.6em;
		text-shadow: 0 0 30px rgba(0, 0, 0, 0.25);

		@include media( $medium-screen-up ) {
			padding: 70px 0;
		}
		
		h1 {
			font-weight: 700;
		}
	}

	&__menu {
		margin-bottom: -100px;

	}

	&__events {
		margin-bottom: -100px;	
	}

	&__location {
		margin-bottom: -100px;
	}

	&__review {
		margin-bottom: -100px;
		.entry-header {
			padding: 100px 0;
			text-align: left;
		}
	}
}