.review {
	&__block {
		padding: 25px;

		&--after {
			padding: 15px;
		}
	}
}

.review__card {
	border-radius: 5px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
	float: left;
	width: 47%;
	margin-left: 1%;
	margin-right: 1%;
}