.review {
	&__block {
		padding: 25px;
		border-radius: 5px;
		box-shadow: 0 3px 8px rgba(0,0,0,0.1);

		&--after {
			padding: 15px;
		}
	}
}

.review__card {
	float: left;
	width: 100%;

	@include media( $large-screen-up ) {
		width: 50%;
	}

	h5,h6 {
		font-weight: 700;
		margin-bottom: 0;
	}

	&--stars {
		color: $brand-orange;
		list-style: none;
		padding: 5px 0;
		margin-bottom: 1rem;
		li {
			padding: 0 5px;
			display: inline-block;
		}
	}
}