
.wrapper {
	padding: 55px 20px 50px 20px;
}


.wrapper.double {
  padding: 60px 20px 60px 20px;
}

.wrapper.extra {
  padding: 60px 20px 150px 20px;
}

.wrapper.no_vert {
  padding: 0px 20px 0px 20px;
}

.wrapper.no_bottom{
  padding: 75px 20px 0px 20px;
}
.wrapper.flush{
  padding: 75px 20px 0px 20px;
}