.frontpage{
	&__main_content {
		margin-top:150px;
		margin-bottom: 60px;
		background-color: $white;
		padding-bottom: 175px;		

		.featured-image {
			padding: 25px;
			@include media( $medium-screen-up ) {
				padding: 0 25px;
			}
		}

		.featured-content {
			@include media( $xlarge-screen-up ) {
				padding-top: 40px;
			}
		}

	}
}

.front-hero {
	background-size: cover;
	background-position: center;
	position: relative;

	.row { 
		position: relative;
		z-index: 10;
	}

	&__container {
		max-height: 700px;
		min-height: 600px;
		overflow:hidden;
		position: relative;

	}

}
.front-hero {
	&__content {
		padding: 50px 1em 75px 1em;
		text-align: center;

		h1,h2,h3,h4,h5,h6, p {
			color: #fff;
			text-shadow: 0 0 30px rgba(0,0,0,0.25);
		}

		@include media( $xlarge-screen-up ) {
			padding: 175px 1em 75px 1em;
			max-width: 75%;
		}

		.button {
			@include media($medium-screen-up) { 
				margin-right: 25px;
			}
			
			margin-bottom: 25px;
		}

	}

	&__logo {
		width: 100%;
		max-width: 350px;
	}

}

.row.hero_row {
	position: absolute;
	z-index: 10;
	top:0;
	display:flex;
	align-items:center;
	justify-content: center;
	@include media($large-screen-up) {
		padding-left: 150px;
		padding-right: 150px;
	}
}

