.menu-content {
	padding-top: 75px;
	margin-top: 200px;
	margin-bottom: 150px;
	padding-bottom: 200px;
}

.waves-section.menu-tabs{
	margin-bottom: -150px;
	// min-height: 800px;
	margin-top: -150px;
}

.waves-section.tripadvisor {
	padding-top: 200px;
	padding-bottom: 80px;
	margin-bottom: -80px;
	z-index: 1;

	.container {
		padding-top: 100px;
	}
}