// Skip to content link

.screen-reader-text {
	position: absolute;
	font-size: 0;
	opactiy: 0;
	z-index: 0;
	&:active, &:focus {
		font-size: inherit;
		opacity: 1;
		z-index: 100;
	}
}

.skip-link {
	display: block;
	margin: 0 auto;
	text-align: center;
	&:focus{
		position: relative;
	}
}

.wrapper {
	z-index: 10;
}

.wrapper + .wrapper {
  padding: 55px 20px 50px 20px;
}

.wrapper.double {
  padding: 60px 20px 60px 20px;
}

.wrapper.no_vert {
  padding: 0px 20px 0px 20px;
}

.wrapper.no_bottom{
  padding: 75px 20px 0px 20px;
}
.wrapper.flush{
  padding: 75px 20px 0px 20px;
}

.pd-a {
	padding: $gutter-in-px;
}

.mg-a {
	margin: $gutter-in-px;
}

.row.flush-image{
  img{
    position: relative;
    margin-bottom: -8px;
  }
}

.row.full_width {
	max-width: 100%;
}

.bg-white {
	background-color: $white;
}

.bg-dark-blue{
	background-color: $brand-dark-blue;
}

.bg-blue{
	background-color:$brand-blue;
}

.bg-green{
	background-color:$brand-green;
}

.bg-orange{
	background-color: $brand-orange;
}

.bg-neutral{
	background-color: $brand-neutral;
}

.bg-grey {
	background-color: lighten($brand-grey,10);
}

.cl-white{
	color: $white;
}

.cl-blue {
	color: $brand-blue;
}

.cl-orange {
	color: $brand-orange;
}

.wave-border {
	position: relative;

	&:before {
		content: '';
		background: url(../img/wave_border.png) repeat-x top;
		height: 100px;
		width: 100%;
		top:-80px;
		left:0;
		position: absolute;
		display: block;
	}
}

.entertainer-img {
	figure {
		max-height: 250px;
	}
	padding: 0px 20px;
}

.entertainer-details {
	padding: 25px;
}

.hero-image {
  background-position-y: 25%;
}


.image-preload {
	position: absolute;
	left: -9999px;
}