body.page {
	border-top: 4px solid $brand-orange;
}

.navbar .logo {
	margin: 0;
}

.site-title{
	padding-top: 0;
}

.quick-contact {
	@include column(4);
		
	&__item {
		&:hover > a{
			color:$brand-orange;
			background-color: $white;
		}
	}
	ul {
		float:right;
	}
	
}

li.current_page_item {
	position: relative;
    background: $brand-orange;
    z-index: 1000;
    color: $white;
}

.navbar ul li.current_page_item > a {
	color: $white;
}