
.wm__content {
	&--description {
		margin-bottom: 25px;

		p{
			color: $brand-blue;
		}
	}
}

.wm__item {
	padding: 15px 15px;
	@include respond(portrait-tablets) {
		width: auto !important;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	
	h5, p, span {
		color: $brand-blue;
	}

	&--image {
		max-height: 250px;
		overflow:hidden;
		vertical-align: middle;
		margin-bottom: 15px;

		// @include respond(tablet) {
		// 	width: 49%;
		// 	display: inline-block;
		// 	float:left;
		// }
	}
}

#quick-contact li.quick-contact{
  &__item {
	> a {
	  padding: 0 5px;
	}

	&--phone {
	  padding: 0 10px;
	}

	&--cart {
	  padding: 0 10px;
	}
  }
}