
@for $i from 0 through 75 {
  @if $i % 5 == 0 {
      .mg-b-#{$i} {
        margin-bottom: #{$i}px;
      }
      .mg-t-#{$i} {
        margin-top: #{$i}px;
      }
      .mg-l-#{$i} {
        margin-left: #{$i}px;
      }
      .mg-r-#{$i} {
        margin-right: #{$i}px;
      }
      .pd-b-#{$i} {
        padding-bottom: #{$i}px;
      }
      .pd-t-#{$i} {
        padding-top: #{$i}px;
      }
      .pd-l-#{$i} {
        padding-left: #{$i}px;
      }
      .pd-r-#{$i} {
        padding-right: #{$i}px;
      }
  }
  
}
