/*Breakpoints are defined here */

$smallSized: 30em; // roughly 480px
$midSized: 43em; // roughly 680px
$largeSized: 60em; //roughly 960px
$largerSized: 75em;


//pattern colors
$base-ui-color: lighten(#336D7F, 8);//#4375B6; // light blue
$base-ui-blue: #15b6ec; // light blue
$base-ui-green: #1bbc9b; // light green
$background-color: #F2F2F2; //off white
$base-ui-dark: #2b343b; // dark grey/blue
$base-ui-darker: #242c32; //darkets grey/blue
$font-color: #555555; //
$color1: #DE9C5B; //light orange
$color2: #FF8B48; //orange
$black-opacity: rgba(43, 52, 59, 0.25);
$white-opacity: rgba(242,242,242, 0.25);
