.front-hero__weather {
	@include column(3);
	@include hidden(all-phones);
	background-color: $brand-dark-blue;
	position: relative;
    z-index: 65;
    // width: 260px;
    height: 280px;
    padding: 35px;
    color: #fff;
}

.weather__mobile {
	@include hidden(desktop);

	&--widget {
		@include column(12);
		background-color: $brand-dark-blue;
	    padding: 35px;
	    color: #fff;		
	    height: 340px;
	}
}

.hero-weather__current{
	// @include respond( landscape-phones ) {
	// 	width: 50%;
	// 	float: left;
	// }

    .currently {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
		padding: 10px 0px;
    }

    .degrees {
    	display: block;
	    position: absolute;
	    top: 75px;
	    left: 125px;
	    text-transform: uppercase;
	    font-weight: 100;
	    font-size: 100px;
	    .symbol {
	    	vertical-align: super;
    		font-size: 60px;
	    }
    }
}

.marineforecast {
	top: 100px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid $white;
	// @include respond( landscape-phones ) {
	// 	width: 50%;
	// 	top:0;
	// 	float: left;
	// }

	.weather-stat {
		top: 15px;
	}

	.stat-label {

	}

	.stat-value {

	}

	#condition {
		.stat-value {
			text-transform: uppercase;
		}
	}

	// #wind-speed {
	// 	left: 106px;
	// }

	// #sunset {
	// 	left: 10px;
	// }
}

.weather-stat {
	width: 33%;
	padding: 0px 5px;
	display: inline-block;
	float:left;
}