.front-hero__weather {
	background-color: #0D3B66;
	position: relative;
    z-index: 65;
    width: 260px;
    height: 280px;
    padding: 35px;

    color: #fff;
}

.hero-weather__current{

    .currently {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14px;
    }

    .degrees {
    	display: block;
	    position: absolute;
	    top: 65px;
	    left: 125px;
	    text-transform: uppercase;
	    font-weight: 100;
	    font-size: 110px;

	    .symbol {
	    	vertical-align: super;
    		font-size: 60px;
	    }
    }
}

.marineforecast {
	top: 100px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid $neutral-white;

	.weather-stat {
		top: 15px;
	}

	.stat-label {

	}

	.stat-value {

	}

	// #seas {
	// 	left: auto;
	// 	right: 10px;
	// }

	// #wind-speed {
	// 	left: 106px;
	// }

	// #sunset {
	// 	left: 10px;
	// }
}